<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dmd.martin.clowyer">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ClowyerApplication"
        android:allowBackup="true"
        android:icon="@drawable/clowyer_ic"
        android:label="@string/app_name"
        android:roundIcon="@drawable/clowyer_ic"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".activities.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="ocr" />

        <activity
            android:name=".login.view.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ClientActivity"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
            android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.CourtActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.LoadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.RegisterActivity"
            android:parentActivityName=".login.view.LoginActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".login.view.LoginActivity" />
        </activity>
        <activity android:name=".activities.AddDocActivity"></activity>
    </application>

</manifest>